# Import Libraries

In [87]:
import pandas as pd
import psycopg2 as pg

# Extract

In [88]:
df_interchanges = pd.read_excel("interchange.xlsx")
df_inventory = pd.read_excel("inventory.xlsx")
df_sales = pd.read_excel("sales.xlsx")
df_transfers = pd.read_excel("transfers.xlsx")

In [89]:
df_interchanges.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   part_number      4 non-null      object
 1   alt_part_number  4 non-null      object
 2   notes            4 non-null      object
dtypes: object(3)
memory usage: 228.0+ bytes

In [90]:
df_interchanges

   part_number  alt_part_number                           notes
0    UC-TS-320    UC-TS-320-KMT     Compatible with Komatsu D60
1    UC-RL-450     UC-RL-450-SH    Compatible with Shantui SD22
2   GET-TT-120   GET-TT-120-CAT  Compatible with CAT 320 bucket
3  TY-27.00R49  TY-27.00R49-ALT     Alternative compound option

In [91]:
df_inventory.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   branch         32 non-null     object
 1   part_number    32 non-null     object
 2   part_name      32 non-null     object
 3   category       32 non-null     object
 4   stock_on_hand  32 non-null     int64
 5   min_stock      32 non-null     int64
 6   uom            32 non-null     object
dtypes: int64(2), object(5)
memory usage: 1.9+ KB

In [7]:
df_inventory

,branch,part_number,part_name,category,stock_on_hand,min_stock,uom
0,Jakarta,UC-TS-320,Track Shoe,UC,60,10,pcs
1,Jakarta,UC-RL-450,Roller,UC,0,9,pcs
2,Jakarta,UC-RL-450-SH,Roller,UC,25,9,pcs
3,Jakarta,GET-TT-120,Tooth,GET,104,16,pcs
4,Jakarta,GET-CE-210,Cutting Edge,GET,89,18,pcs
5,Jakarta,TY-27.00R49,Tyre 27.00R49,Tyre,33,21,pcs
6,Jakarta,TY-18.00R33,Tyre 18.00R33,Tyre,77,17,pcs
7,Banjarmasin,UC-TS-320,Track Shoe,UC,26,13,pcs
8,Banjarmasin,UC-RL-450,Roller,UC,25,19,pcs
9,Banjarmasin,GET-TT-120,Tooth,GET,85,19,pcs
10,Banjarmasin,GET-CE-210,Cutting Edge,GET,55,15,pcs
11,Banjarmasin,TY-27.00R49,Tyre 27.00R49,Tyre,62,20,pcs
12,Banjarmasin,TY-18.00R33,Tyre 18.00R33,Tyre,60,21,pcs
13,Samarinda,UC-TS-320,Track Shoe,UC,25,8,pcs
14,Samarinda,UC-RL-450,Roller,UC,0,12,pcs
15,Samarinda,UC-RL-450-SH,Roller,UC,25,9,pcs
16,Samarinda,GET-TT-120,Tooth,GET,112,7,pcs
17,Samarinda,GET-CE-210,Cutting Edge,GET,51,19,pcs
18,Samarinda,TY-27.00R49,Tyre 27.00R49,Tyre,46,18,pcs
19,Samarinda,TY-18.00R33,Tyre 18.00R33,Tyre,89,18,pcs
20,Balikpapan,UC-TS-320,Track Shoe,UC,87,6,pcs
21,Balikpapan,UC-RL-450,Roller,UC,108,18,pcs
22,Balikpapan,GET-TT-120,Tooth,GET,58,23,pcs
23,Balikpapan,GET-CE-210,Cutting Edge,GET,6,7,pcs
24,Balikpapan,TY-27.00R49,Tyre 27.00R49,Tyre,110,18,pcs
25,Balikpapan,TY-18.00R33,Tyre 18.00R33,Tyre,106,19,pcs
26,Makassar,UC-TS-320,Track Shoe,UC,108,22,pcs
27,Makassar,UC-RL-450,Roller,UC,37,7,pcs
28,Makassar,GET-TT-120,Tooth,GET,114,19,pcs
29,Makassar,GET-CE-210,Cutting Edge,GET,63,9,pcs
30,Makassar,TY-27.00R49,Tyre 27.00R49,Tyre,27,14,pcs
31,Makassar,TY-18.00R33,Tyre 18.00R33,Tyre,38,21,pcs

In [8]:
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sale_id      120 non-null    int64
 1   branch       120 non-null    object
 2   customer     120 non-null    object
 3   part_number  120 non-null    object
 4   part_name    120 non-null    object
 5   category     120 non-null    object
 6   qty          120 non-null    int64
 7   unit_price   120 non-null    float64
 8   currency     120 non-null    object
 9   sale_date    120 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(6)
memory usage: 9.5+ KB

In [9]:
df_sales

,sale_id,branch,customer,part_number,part_name,category,qty,unit_price,currency,sale_date
0,1,Makassar,PT Nusantara G.E.T,GET-CE-210,Cutting Edge,GET,8,319.40,USD,2025-02-19
1,2,Samarinda,PT Rimba Sawit,GET-TT-120,Tooth,GET,4,114.29,USD,2025-03-22
2,3,Banjarmasin,CV Makmur Jaya,TY-27.00R49,Tyre 27.00R49,Tyre,6,50.35,USD,2025-04-21
3,4,Balikpapan,PT Bar Mining,UC-TS-320,Track Shoe,UC,22,53.18,USD,2025-01-17
4,5,Samarinda,PT Bar Mining,GET-TT-120,Tooth,GET,28,488.19,USD,2025-06-15
...,...,...,...,...,...,...,...,...,...,...
115,116,Banjarmasin,PT Kal Coal,UC-TS-320,Track Shoe,UC,28,79.81,USD,2025-05-02
116,117,Makassar,PT Bar Mining,TY-18.00R33,Tyre 18.00R33,Tyre,13,144.11,USD,2025-03-16
117,118,Samarinda,PT Kal Coal,GET-TT-120,Tooth,GET,23,107.62,USD,2025-03-22
118,119,Balikpapan,PT Kal Coal,GET-CE-210,Cutting Edge,GET,3,443.44,USD,2025-03-18
119,120,Banjarmasin,PT Nusantara G.E.T,TY-27.00R49,Tyre 27.00R49,Tyre,19,419.81,USD,2025-02-10

In [10]:
df_transfers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   transfer_id    40 non-null     int64
 1   from_branch    40 non-null     object
 2   to_branch      40 non-null     object
 3   part_number    40 non-null     object
 4   qty            40 non-null     int64
 5   transfer_date  40 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 2.0+ KB

In [11]:
df_transfers

    transfer_id  from_branch    to_branch  part_number  qty transfer_date
0             1   Balikpapan    Samarinda  TY-18.00R33   13    2025-04-25
1             2     Makassar   Balikpapan   GET-CE-210   18    2025-04-15
2             3   Balikpapan     Makassar  TY-18.00R33   19    2025-02-09
3             4    Samarinda      Jakarta  TY-27.00R49   13    2025-06-05
4             5    Samarinda   Balikpapan    UC-TS-320    6    2025-06-23
5             6      Jakarta     Makassar   GET-CE-210    9    2025-03-19
6             7      Jakarta  Banjarmasin  TY-27.00R49    2    2025-04-11
7             8    Samarinda     Makassar   GET-CE-210    2    2025-03-08
8             9     Makassar  Banjarmasin    UC-RL-450    4    2025-03-20
9            10  Banjarmasin     Makassar    UC-TS-320   14    2025-06-05
10           11  Banjarmasin   Balikpapan  TY-18.00R33    3    2025-01-06
11           12   Balikpapan     Makassar    UC-RL-450   12    2025-02-13
12           13  Banjarmasin     Makassar    UC-RL-450    9    2025-01-09
13           14   Balikpapan      Jakarta   GET-TT-120    5    2025-06-12
14           15  Banjarmasin      Jakarta    UC-RL-450    2    2025-04-03
15           16     Makassar    Samarinda   GET-TT-120    8    2025-03-09
16           17     Makassar      Jakarta  TY-27.00R49    5    2025-05-19
17           18   Balikpapan    Samarinda   GET-TT-120   10    2025-01-18
18           19     Makassar   Balikpapan  TY-18.00R33   15    2025-01-25
19           20     Makassar  Banjarmasin    UC-TS-320   14    2025-05-08
20           21     Makassar      Jakarta   GET-TT-120    7    2025-03-08
21           22  Banjarmasin      Jakarta    UC-RL-450    1    2025-04-07
22           23    Samarinda     Makassar   GET-TT-120    1    2025-05-05
23           24     Makassar    Samarinda   GET-TT-120   10    2025-05-27
24           25    Samarinda     Makassar    UC-RL-450   15    2025-04-13
25           26  Banjarmasin    Samarinda   GET-CE-210   15    2025-04-12
26           27     Makassar      Jakarta  TY-27.00R49   19    2025-04-04
27           28   Balikpapan  Banjarmasin    UC-RL-450   11    2025-06-10
28           29      Jakarta   Balikpapan  TY-18.00R33   13    2025-06-18
29           30     Makassar  Banjarmasin    UC-TS-320   12    2025-04-16
30           31    Samarinda  Banjarmasin   GET-CE-210   10    2025-01-26
31           32   Balikpapan     Makassar    UC-TS-320    9    2025-06-11
32           33   Balikpapan    Samarinda    UC-TS-320    4    2025-06-23
33           34   Balikpapan     Makassar    UC-TS-320   19    2025-05-15
34           35   Balikpapan    Samarinda    UC-TS-320    9    2025-03-20
35           36      Jakarta   Balikpapan    UC-TS-320    7    2025-02-27
36           37  Banjarmasin   Balikpapan    UC-RL-450   12    2025-03-19
37           38   Balikpapan     Makassar  TY-18.00R33    1    2025-01-11
38           39    Samarinda      Jakarta  TY-18.00R33   17    2025-01-20
39           40     Makassar    Samarinda    UC-TS-320    8    2025-01-07

# Transform

## Data Cleaning

In [12]:
df_transfers.duplicated().sum()

np.int64(0)

In [13]:
df_transfers.loc[df_transfers['qty'] < 0]

Empty DataFrame
Columns: [transfer_id, from_branch, to_branch, part_number, qty, transfer_date]
Index: []

In [14]:
df_interchanges.duplicated().sum()

np.int64(0)

In [15]:
df_sales.duplicated().sum()

np.int64(0)

In [16]:
df_sales.loc[df_sales['qty'] < 0]

Empty DataFrame
Columns: [sale_id, branch, customer, part_number, part_name, category, qty, unit_price, currency, sale_date]
Index: []

In [17]:
df_sales.loc[df_sales['unit_price'] < 0]

Empty DataFrame
Columns: [sale_id, branch, customer, part_number, part_name, category, qty, unit_price, currency, sale_date]
Index: []

In [18]:
df_transfers.duplicated().sum()

np.int64(0)

In [19]:
df_transfers.loc[df_transfers['qty'] < 0]

Empty DataFrame
Columns: [transfer_id, from_branch, to_branch, part_number, qty, transfer_date]
Index: []

Data doesn't have missing value, duplicate, nor invalid value therefore the data is clean.

## Dataframe For Dimension and Facts

In [92]:
df_dim_branch = df_inventory[['branch']].copy().drop_duplicates().reset_index(drop=True)
df_dim_branch['branch_id'] = df_dim_branch.index + 1
df_dim_branch = df_dim_branch[['branch_id','branch']]
df_dim_branch = df_dim_branch.rename(columns={'branch':'branch_name'})
df_dim_branch

   branch_id  branch_name
0          1      Jakarta
1          2  Banjarmasin
2          3    Samarinda
3          4   Balikpapan
4          5     Makassar

In [ ]:
df_dim_part = df_inventory[['part_number','part_name','category']].copy().drop_duplicates()
df_dim_part

# Map parts with alternate parts
ALT_PART_MAPPING = {
    'UC-TS-320':   ('UC-TS-320-KMT',     'Compatible with Komatsu D60'),
    'UC-RL-450':   ('UC-RL-450-SH',      'Compatible with Shantui SD22'),
    'GET-TT-120':  ('GET-TT-120-CAT',    'Compatible with CAT 320 bucket'),
    'TY-27.00R49': ('TY-27.00R49-ALT',   'Alternative compound option')
}
# check if part_name has a correspond altername name, if not value is '-'
df_dim_part['alt_part_number'] = df_dim_part['part_number'].map(
    lambda x: ALT_PART_MAPPING.get(x, ('-', '-'))[0]
)
df_dim_part['notes'] = df_dim_part['part_number'].map(
    lambda x: ALT_PART_MAPPING.get(x, ('-', '-'))[1]
)

df_dim_part['part_id'] = range(1, len(df_dim_part) + 1)
df_dim_part = df_dim_part[[
    'part_id', 'part_number', 'alt_part_number', 'part_name', 'category', 'notes'
]]
df_dim_part

,part_id,part_number,alt_part_number,part_name,category,notes
0,1,UC-TS-320,UC-TS-320-KMT,Track Shoe,UC,Compatible with Komatsu D60
1,2,UC-RL-450,UC-RL-450-SH,Roller,UC,Compatible with Shantui SD22
2,3,UC-RL-450-SH,-,Roller,UC,-
3,4,GET-TT-120,GET-TT-120-CAT,Tooth,GET,Compatible with CAT 320 bucket
4,5,GET-CE-210,-,Cutting Edge,GET,-
5,6,TY-27.00R49,TY-27.00R49-ALT,Tyre 27.00R49,Tyre,Alternative compound option
6,7,TY-18.00R33,-,Tyre 18.00R33,Tyre,-

In [94]:
df_dim_customer  = df_sales[['customer']].copy().drop_duplicates()
df_dim_customer['customer_id'] = range(1, len(df_dim_customer)+1)
df_dim_customer = df_dim_customer[['customer_id','customer']]
df_dim_customer = df_dim_customer.rename(columns={'customer':'customer_name'})
df_dim_customer

    customer_id       customer_name
0             1  PT Nusantara G.E.T
1             2      PT Rimba Sawit
2             3      CV Makmur Jaya
3             4       PT Bar Mining
14            5         PT Kal Coal

In [ ]:
# stack the dates from sale_date and transfer_date then drop duplicate to keep date unique.

df_dim_date = pd.concat([df_sales['sale_date'], df_transfers['transfer_date']], ignore_index=True).to_frame('full_date')
df_dim_date = df_dim_date.drop_duplicates()

df_dim_date = df_dim_date.sort_values(by='full_date')
df_dim_date = df_dim_date.reset_index(drop=True)

df_dim_date['time_id'] = pd.to_datetime(df_dim_date['full_date']).dt.strftime('%Y%m%d').astype(int)
df_dim_date = df_dim_date[['time_id','full_date']]

df_dim_date['year'] = df_dim_date['full_date'].dt.year
df_dim_date['month'] = df_dim_date['full_date'].dt.month
df_dim_date['day'] = df_dim_date['full_date'].dt.day
df_dim_date = df_dim_date.rename(columns={"time_id": "date_id"})
df_dim_date

      date_id  full_date  year  month  day
0    20250103 2025-01-03  2025      1    3
1    20250106 2025-01-06  2025      1    6
2    20250107 2025-01-07  2025      1    7
3    20250108 2025-01-08  2025      1    8
4    20250109 2025-01-09  2025      1    9
..        ...        ...   ...    ...  ...
101  20250616 2025-06-16  2025      6   16
102  20250618 2025-06-18  2025      6   18
103  20250623 2025-06-23  2025      6   23
104  20250624 2025-06-24  2025      6   24
105  20250626 2025-06-26  2025      6   26

[106 rows x 5 columns]

In [ ]:
# create a lookup dictionary of branch name, part_name, customer name and date to it's id

branch_lookup   = dict(zip(df_dim_branch['branch_name'], df_dim_branch['branch_id']))
part_lookup     = dict(zip(df_dim_part['part_number'], df_dim_part['part_id']))
customer_lookup = dict(zip(df_dim_customer['customer_name'], df_dim_customer['customer_id']))
date_lookup     = dict(zip(df_dim_date['full_date'], df_dim_date['date_id']))

fact_sales = df_sales.copy()
fact_sales['branch_id']     = fact_sales['branch'].map(branch_lookup)
fact_sales['customer_id']   = fact_sales['customer'].map(customer_lookup)
fact_sales['part_id']       = fact_sales['part_number'].map(part_lookup)
fact_sales['sale_date_id'] = fact_sales['sale_date'].map(date_lookup)

fact_sales = fact_sales[[
    'sale_id', 'branch_id', 'customer_id', 'part_id',
    'sale_date_id', 'qty', 'unit_price', 'currency'
]]

fact_transfers = df_transfers.copy()
fact_transfers['from_branch_id'] = fact_transfers['from_branch'].map(branch_lookup)
fact_transfers['to_branch_id']   = fact_transfers['to_branch'].map(branch_lookup)
fact_transfers['part_id']        = fact_transfers['part_number'].map(part_lookup)
fact_transfers['transfer_date_id'] = fact_transfers['transfer_date'].map(date_lookup)
fact_transfers = fact_transfers[[
    'transfer_id', 'from_branch_id', 'to_branch_id', 'part_id',
    'transfer_date_id', 'qty'
]]

fact_inventory = df_inventory.copy()
fact_inventory['branch_id']   = fact_inventory['branch'].map(branch_lookup)
fact_inventory['part_id']     = fact_inventory['part_number'].map(part_lookup)
fact_inventory = fact_inventory[[
    'branch_id', 'part_id',
    'stock_on_hand', 'min_stock', 'uom'
]]

# Load

In [109]:
df_dim_customer

    customer_id       customer_name
0             1  PT Nusantara G.E.T
1             2      PT Rimba Sawit
2             3      CV Makmur Jaya
3             4       PT Bar Mining
14            5         PT Kal Coal

In [ ]:
# DDL
pgConn = pg.connect(
    dbname = "mitra_db",
    user = "user",
    password = "postgres",
    host = "127.0.0.1",
    port = "5434"
)

curr = pgConn.cursor()

curr.execute(
    """
    DROP TABLE IF EXISTS fact_sales CASCADE;
    DROP TABLE IF EXISTS fact_transfers CASCADE;
    DROP TABLE IF EXISTS fact_inventory CASCADE;
    DROP TABLE IF EXISTS dim_branch CASCADE;
    DROP TABLE IF EXISTS dim_customer CASCADE;
    DROP TABLE IF EXISTS dim_part CASCADE;
    DROP TABLE IF EXISTS dim_date CASCADE;
    
    -- Dimension
    CREATE TABLE dim_branch(
        branch_id INT PRIMARY KEY,
        branch_name VARCHAR(15) NOT NULL UNIQUE
    );

    CREATE TABLE dim_customer(
        customer_id INT PRIMARY KEY,
        customer_name VARCHAR(20) NOT NULL UNIQUE
    );

    CREATE TABLE dim_part(
        part_id INT PRIMARY KEY,
        part_number VARCHAR(20) NOT NULL UNIQUE,
        alt_part_number VARCHAR(20),
        part_name VARCHAR(20),
        category VARCHAR(10),
        notes TEXT
    );

    CREATE TABLE dim_date(
        date_id INT PRIMARY KEY,
        full_date DATE NOT NULL UNIQUE,
        year INT NOT NULL,
        month INT NOT NULL,
        day INT NOT NULL
    );
    -- Facts
    CREATE TABLE fact_sales(
        sale_id INT PRIMARY KEY,
        branch_id INT,
        customer_id INT,
        part_id INT, 
        sale_date_id INT,
        qty INT NOT NULL,
        unit_price NUMERIC(12,4) NOT NULL,
        currency VARCHAR(5) DEFAULT 'USD',
        CONSTRAINT fk_branch FOREIGN KEY (branch_id) REFERENCES dim_branch(branch_id),
        CONSTRAINT fk_customer FOREIGN KEY (customer_id) REFERENCES dim_customer(customer_id),
        CONSTRAINT fk_part FOREIGN KEY (part_id) REFERENCES dim_part(part_id),
        CONSTRAINT fk_date FOREIGN KEY (sale_date_id) REFERENCES dim_date(date_id)
    );

    CREATE TABLE fact_transfers(
        transfer_id INT PRIMARY KEY,
        from_branch_id INT,
        to_branch_id INT,
        part_id INT,
        transfer_date_id INT,
        qty INT NOT NULL,
        CONSTRAINT fk_from_branch FOREIGN KEY (from_branch_id) REFERENCES dim_branch(branch_id),
        CONSTRAINT fk_to_branch FOREIGN KEY (to_branch_id) REFERENCES dim_branch(branch_id),
        CONSTRAINT fk_part FOREIGN KEY (part_id) REFERENCES dim_part(part_id),
        CONSTRAINT fk_date FOREIGN KEY (transfer_date_id) REFERENCES dim_date(date_id)
    );

    CREATE TABLE fact_inventory(
        branch_id INT,
        part_id INT,
        stock_on_hand INT NOT NULL,
        min_stock INT NOT NULL,
        uom VARCHAR(10) DEFAULT 'pcs',
        CONSTRAINT fk_branch FOREIGN KEY (branch_id) REFERENCES dim_branch(branch_id),
        CONSTRAINT fk_part FOREIGN KEY (part_id) REFERENCES dim_part(part_id)
    );
"""
)

pgConn.commit()
pgConn.close()

In [ ]:
# DML
pgConn = pg.connect(
    dbname = "mitra_db",
    user = "user",
    password = "postgres",
    host = "127.0.0.1",
    port = "5434"
)

curr = pgConn.cursor()
curr.executemany(
    """
    INSERT INTO dim_branch(branch_id, branch_name) 
    VALUES(%s, %s)
""",df_dim_branch.values.tolist()
)
curr.executemany(
    """
    INSERT INTO dim_customer(customer_id, customer_name)
    VALUES(%s, %s)
""", df_dim_customer.values.tolist()
)
curr.executemany(
    """
    INSERT INTO dim_date(date_id, full_date, year, month, day)
    VALUES(%s, %s, %s, %s, %s)
""", df_dim_date.values.tolist()
)
curr.executemany(
    """
    INSERT INTO dim_part(part_id, part_number, alt_part_number, part_name, category, notes)
    VALUES(%s, %s, %s, %s, %s, %s)
""", df_dim_part.values.tolist()
)
curr.executemany(
    """
    INSERT INTO fact_inventory(branch_id, part_id, stock_on_hand, min_stock, uom)
    VALUES(%s, %s, %s, %s, %s)
""", fact_inventory.values.tolist()
)
curr.executemany(
    """
    INSERT INTO fact_sales(sale_id, branch_id, customer_id, part_id, sale_date_id, qty, unit_price, currency)
    VALUES(%s, %s, %s, %s, %s, %s, %s, %s)
""", fact_sales.values.tolist()
)
curr.executemany(
    """
    INSERT INTO fact_transfers(transfer_id, from_branch_id, to_branch_id, part_id, transfer_date_id, qty)
    VALUES(%s, %s, %s, %s, %s, %s)
""", fact_transfers.values.tolist()
)
pgConn.commit()
pgConn.close()

# Check Validity

In [ ]:
pgConn = pg.connect(
    dbname = "mitra_db",
    user = "user",
    password = "postgres",
    host = "127.0.0.1",
    port = "5434"
)
curr = pgConn.cursor()
curr.execute(
    """
SELECT 
    'dim_branch'     AS table_name, COUNT(*) AS row_count FROM dim_branch
UNION ALL SELECT 'dim_customer',    COUNT(*) FROM dim_customer
UNION ALL SELECT 'dim_part',        COUNT(*) FROM dim_part
UNION ALL SELECT 'dim_date',        COUNT(*) FROM dim_date
UNION ALL SELECT 'fact_sales',      COUNT(*) FROM fact_sales
UNION ALL SELECT 'fact_transfers',  COUNT(*) FROM fact_transfers
UNION ALL SELECT 'fact_inventory',  COUNT(*) FROM fact_inventory;
"""
)
# get the data from postgres to python and turn it into dictionary
result = curr.fetchall()
db_counts = dict(result)

# dictionary expected with dataframe as key and row number as value
expected = {
    'dim_branch': len(df_dim_branch),
    'dim_customer': len(df_dim_customer),
    'dim_date': len(df_dim_date),
    'dim_part': len(df_dim_part),
    'fact_inventory': len(fact_inventory),
    'fact_sales': len(fact_sales),
    'fact_transfers': len(fact_transfers)
}
print("TABLE              | EXPECTED â†’ DB     | STATUS")
print("-" * 50)
all_good = True 
# loop the dataframe/table in the dictionary
for table, expected_count in expected.items():
    # get the row count by checking if there's a key. if not default to zero
    db_count = db_counts.get(table, 0)
    status = "PASS" if expected_count == db_count else "FAIL"
    if status == "FAIL":
        all_good = False
    print(f"{table:18} | {expected_count:>5} â†’ {db_count:>5}   | {status}")

print("-" * 50)
print("OVERALL:", "ALL GOOD!" if all_good else "FIX THE FAILS!")

TABLE              | EXPECTED â†’ DB     | STATUS
--------------------------------------------------
dim_branch         |     5 â†’     5   | PASS
dim_customer       |     5 â†’     5   | PASS
dim_date           |   106 â†’   106   | PASS
dim_part           |     7 â†’     7   | PASS
fact_inventory     |    32 â†’    32   | PASS
fact_sales         |   120 â†’   120   | PASS
fact_transfers     |    40 â†’    40   | PASS
--------------------------------------------------
OVERALL: ALL GOOD!